.academic-dates-details {
  padding-bottom: 1rem;
}

.academic-dates-date,
.academic-dates-term {
  margin: 0;
  font-family: verdana,sans-serif;
  display: inline-block;
  padding: .5rem 4rem .5rem 1rem;
  text-transform: uppercase;
  clear: both;
}

.academic-dates-date {
  background-color: #000;
  color: #FDD54F;
  width: 100%;
}

.academic-dates-term {
  background-color: #FDD54F;
  color: #000;
}

.academic-dates .field--type-entity-reference {
  margin: 0;
}

.academic-dates-type {
  display: inline-block;
  width: auto;
  margin: 0;
  font-family: verdana,sans-serif;
  text-transform: uppercase;
  font-size: .70233rem;
  background-color: #000;
  padding: .5rem;
  color: #fff;
}
