<div class="academic-dates-details">
  <div class="academic-dates-term">
    {{ content.field_academic_date_term }}
  </div>
  <div class="academic-dates-date">
    {{ content.field_academic_date_date }}
  </div>
  {%  if content.field_academic_date_special_note.value != '' %}
    <div class="academic-dates-special-notes">
      {{ content.field_academic_date_special_note }}
    </div>
  {% endif %}
</div>
